# Ignorar dependências
**/node_modules/
**/.pnp
**/.pnp.js

# Ignorar testes
**/coverage/

# Ignorar builds de produção
**/build/
**/dist/

# Ignorar arquivos de ambiente
.env
.env.*
**/.env
**/.env.*

# Ignorar logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos do sistema
.DS_Store
